<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="gov.sandia.jess.debug.launching.Main">
<stringAttribute key="gov.sandia.jess.editor.launching.jessFileName" value="Ex4.clp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="IA_LAB6"/>
</launchConfiguration>
